body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	color: #151515;
	margin-bottom: 20px;
	text-align: center;
	padding: 10px 0 10px 0;
}
.gal4{
	color: #151515;
	margin-bottom: 20px;
	text-align: center;
	padding: 8px;
	display: none;
}
img {
	width:100%;
	max-width: 400px;
}
.navbar {
	display: inline-block;
}	
.logo {
	font-size: 18px;
	width: 100px;
	height: 100px;
	background: url("CoffeePhotos/coffee_logo3.png") no-repeat 100%;
	background-size: 100%;
	padding: 0;
	float: left;
}
/* Begin Navigation Bar Styling */
#nav {
  float: left;
  margin-top: 18px;
  padding: 50px 0 0 50px;
  list-style: none;
}
#nav li {
  float: right; 
}
#nav.index li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
  border-right: 1px solid #ccc; 
}
#nav.index li a:hover {
  color:#2B0F09;
}
#nav.rest li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #2B0F09;
  border-right: 1px solid #ccc; 
}
#nav.rest li a:hover {
  color:#c27f1b;
}
#nav.rest li a.current {
  color:#c27f1b;
}
/* End navigation bar styling. */
   
/*Begin main index.html styling*/
#main {
	background: url("CoffeePhotos/CoffeeHero/hero_image.jpg");
	background-repeat: no-repeat;
	height: 100%;
}   
#content {
	clear: both;
	padding: 5px 5px;
}
#content h1 {
	font-size: 70px;
	line-height: 1.2;
	padding: 0px 0px 0px 700px;
	color: #ffffff;
	text-align: right;
}
/* End main index.html styling. */

/*Begin contact.html styling*/
.error {
	float: left;
	color: red;
	font-size: .9em;
	line-height: 1.7em;
	font-style: italic;
	position: relative;
  	top: 15%;
	transform: translateY(-15%);
}
.sent {
	float: left;
	color: green;
	font-size: 1.5em;
	line-height: 1.7em;
	font-style: italic;
	position: relative;
  	top: 15%;
	transform: translateY(-15%);
}
/* End contact.html styling. */

#footer {
	background-color: #2B0F09;
	width: 100%;
	height: 50px;
	color: #ffffff;
}